.networks {
  margin-top: 10px;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  li {
    padding-right: 10px;
  }

  img {
    width: 25px;
    height: 25px;
  }
}
