.profil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px;

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 18px;
    }
    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 720px) {
  .profil {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .profil {
    position: sticky;
    top: 50px;
    height: 80vh;
    padding: 50px 0 0 50px;
  }
}
