.about {
  padding: 10px 40px 50px 20px;

  p {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 720px) {
  .about {
    padding-right: 50px;
  }
  h3 {
    display: none;
  }

  .about {
    margin-top: 80px;
  }
}
